.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 160;
    background-color: white; 
    /* Ensure it's on top of other content */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

/* Styles for the Full-Screen Navigation Menu */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    /* Ensure it's above the content */
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay-content a {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover {
    color: #f7ca18;
    /* Change the color on hover */
}

/* Style for opening the navigation menu */
.overlay.active {
    height: 100%;
}

.top-bar {
    width: 100vw;
    background-color: #235da8;
    padding: 20px;
    height: 65px;
    /* Make the sidebar fill the entire screen height */
    position: fixed;
    /* Fix the sidebar position */
    top: 0;
    /* Position it at the top of the viewport */
    left: 0;
    /* Position it on the left side */
    overflow-y: auto;
    /* Add vertical scrolling if content overflows */
    z-index: 100;
}

.picture {
    display: none;
}

.sidebar ul {
    display: none;
}

/* Contact Information Box Styles */
.contact-box {
    background-color: #f1f1f1;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20vh;
}

.contact-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.contact-box p {
    font-size: 14px;
    margin: 0;
}

.contact-box a {
    align-items: center;
    padding-left: 10px;
}

.contact-box img {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    /*make the image larger*/
    width: 50px;
    object-fit: cover;
}

.content {
    flex-grow: 1;
    /* Add space for the sidebar on the left */
    padding: 50px;
    height: 93.5vh;
    /* Add padding to the content area to prevent overlap */
    box-sizing: border-box;
    /* Include padding in element's total width */
    background-image: url('WaterBackground.jpg');
    background-size: cover;
}

.content h1 {
    font-size: 24px;
    text-align: center;
}

.content p {
    font-size: 16px;
    text-align: center;
}

.button {
    background-color: #09610c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}